
/* I am using Element Selector 
*/
body{
  margin: 0px;
}
header{
  height: 140px;
  border:1px dashed red;
}
main{
  height: 450px;
  border:1px dashed red;
}
footer{
  height: 70px;
  border:1px dashed red;
}